**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
.vscode/

# Ignore virtual environments
.venv/

# Ignore environment variables
.env

# Ignore files
**/*__rough__*.*

# Ignore directories
logs/
**/raw/
**/artifacts/
